<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Bookstore Application</title>
</head>

<body>
    <div class="container">

        <form th:action="@{/auth}"
                th:object="${user}" method="POST">

            <input type="text" th:field="*{username}"
                    class="form-control mb-4 col-4" placeholder="Username">

            <input type="password" th:field="*{password}"
                   class="form-control mb-4 col-4" placeholder="Password">

            <button type="submit" class="btn btn-info mb-2">Login</button>

        </form>

        <a>You don't have an account? Click</a>
        <a th:href="@{/register}">here</a>
        <a>to register</a>

    </div>

</body>
</html>