<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Link to style.css in this case -->
    <link rel="stylesheet" href="style.css">
    <!-- Link to Poppins font from Google APIs -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <title>Bookstore</title>

</head>
<body>

<div class = "topnav">
    <h1>Welcome User!</h1>
    <div class="topnav">
        <a href="#Home">Home</a>
        <a href="#Profile">Profile</a>
    </div>
    <div class="topnav_logout">
        <a href="#Logout">Logout</a>
    </div>
</div>

<br>

<div class="logo">
    <img src="home_ico.jpg" width="25%" height="25%">
    <div class="appName">
        <H1>Bookstore Application</H1>
    </div>
</div>

<br>

<div class="searchbar">
    <input type="text" placeholder="Search a Book!">
</div>

<br>

<div class="button_container">
    <div class="button_row">
        <button type="button" class="btn btn-secondary">Search Type</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-secondary">Filters</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-primary">Search</button>
    </div>
</div>
</body>
</html>