<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Register</title>
</head>

<body>
    <div class="container">
        <br><br><br><br><br><br>
      
        <div class="row">
            <div class="col" style="text-align:right">
                <img th:src="@{images/img_books.png}" alt="">
            </div>
      
            <div class="col-md-7">
                <form th:action="@{/save}"
                    th:object="${user}" method="POST">

                    <input type="hidden" th:field="*{id}">

                    <input type="text" th:field="*{firstName}"
                        class="form-control mb-4 col-4" placeholder="Enter your First Name" required>

                    <input type="text" th:field="*{lastName}"
                        class="form-control mb-4 col-4" placeholder="Enter your Last Name" required>

                    <input type="number" th:field="*{age}"
                        class="form-control mb-4 col-4" placeholder="Enter your Age" min="1" max="100" oninput="validity.valid||(value='');" required>

                    <input type="text" th:field="*{username}"
                        class="form-control mb-4 col-4" placeholder="Enter a Username" required>

                    <input type="password" th:field="*{password}"
                        class="form-control mb-3 col-4" placeholder="Enter a Password" minlength="8" required>

                    <div th:if="${param.error}" class="text-danger font-weight-light mb-2">
                        Username already exists.
                    </div>

                    <button type="submit" class="btn btn-info mb-2">Register</button>

                </form>

                <a>Already have an account? Click</a>
                <a th:href="@{/login}">here</a>
                <a>to login.</a>

            </div>
        </div>
    </div>
</body>

<script>
    window.onload = function() {
        document.getElementById('age').value = '';
    }
</script>

</html>

