<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <title>Register</title>
</head>

<body>
    <div class="container">
        <br><br><br><br><br><br>

        <div class="row">
            <div class="col" style="text-align:right">
                <img th:src="@{images/img_books.png}" alt="">
            </div>

            <div class="col-md-7">
                <form th:action="@{/save}"
                    th:object="${user}" method="POST">

                    <input type="hidden" th:field="*{id}">

                    <input type="text" th:field="*{firstName}"
                        class="form-control mb-4 col-4 w-25" placeholder="Enter your First Name" required>

                    <input type="text" th:field="*{lastName}"
                        class="form-control mb-4 col-4 w-25" placeholder="Enter your Last Name" required>

                    <input type="number" th:field="*{age}"
                        class="form-control mb-4 col-4 w-25" placeholder="Enter your Age" min="1" max="100" oninput="validity.valid||(value='');" required>

                    <input type="text" th:field="*{username}"
                        class="form-control mb-4 col-4 w-25" placeholder="Enter a Username" required>

                    <input type="password" th:field="*{password}"
                        class="form-control mb-3 col-4 w-25" placeholder="Enter a Password" minlength="8" required>

                    <div th:if="${param.error}" class="text-danger font-weight-light mb-2">
                        Username already exists.
                    </div>

                    <button type="submit" class="btn btn-primary mb-2 ">Register</button>

                </form>

                <br>

                <a th:href="@{/login}">Already have an account?</a>

            </div>
        </div>
    </div>

</body>

<script>
    window.onload = function() {
        document.getElementById('age').value = '';
    }
</script>

</html>

