body {
  margin: 0;
  font-family: 'Poppins';
}

.navbar-nav .nav-link {
    color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
 }

.appName {
  font-size: 28px;
  font-family: 'Poppins';
}

.searchbar{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}

.searchbar [type=text]{
  width: 85%;
  height: 35pt;
  font-size: 12pt;
  border-radius: 10px;
  text-align: center;
  border: solid;
  border-width: 0.1px;
  outline: none;
  box-shadow: 1px 1px 9px 0px black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button_container {
  text-align: center;
}

.button_row {
  text-align: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.message{
  color: white;
  font-size: 2px;
  font-family: 'Poppins';
}

.author {
  position: relative;
  cursor: pointer; /* Change cursor to pointer when hovering over author */
}

.author:hover::after {
  content: "\2605";
  position: absolute;
  top: 50%;
  right: -15px;
  color: gold;
  font-size: 20px;
}